html,
body {
  margin: 0;
  padding: 0;
  font-family: "Font";
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
span,
div,
p,
a {
  margin: 0;
  padding: 0;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
button {
  padding: 100px;
  font-size: 45px;
}
